#tracking-protection-icon-container {
  display: none;
}

.tab-background {
    border-radius: 0 !important;
}

.button-background {
    border-radius: 0 !important;
}

#tabs-newtab-button {
    border-radius: 0 !important;
}

#sidebar-main {
    color: var(--gnome-window-color) !important;
}

/* #tabbrowser-tabs[orient="vertical"] { */
/*     background-color: var(--gnome-window-background) !important; */
/* } */

/* #navigator-toolbox { 
  border-bottom: 0px !important;
} */

/* Use system theme icons instead of Adwaita icons included by theme */
:root {
        --gnome-accent: #6a8c64 !important;
        --gnome-accent-bg: #6a8c64 !important;
}
