#tracking-protection-icon-container {
  display: none;
}
/* #navigator-toolbox { 
  border-bottom: 0px !important;
} */

/*#urlbar-container {*/
/*	--urlbar-container-height: 44px !important;*/
/*}*/
/**/
/*#urlbar {*/
/*	--urlbar-height: 36px !important;*/
/*	--urlbar-toolbar-height: 44px !important;*/
/*}*/
/* remove everything above here to support “Compact mode” */

/* Title bar */
/*************/
.titlebar-buttonbox,
.titlebar-spacer {
	display: none !important;
}

/* Tab bar */
/***********/
#navigator-toolbox {
	border: 0px !important;
}

#TabsToolbar {
	margin-left: calc(25vw + 5px) !important;
	margin-right: calc(39px + 39px) !important;
	position: static;
        margin-top: -36px !important;
}

/* Nav bar*/
/**********/
#nav-bar {
	background: transparent !important;
	margin-top: 0px !important;   /* change to -36px when “Compact mode” is enabled */
	min-width: 20vw !important;
}

#unified-extensions-button {
	position: absolute;
	right: 39px;
	top: 5px;
}

/* URL bar */
/***********/
#urlbar-container {
	min-width: 20vw !important;
	max-width: 20vw !important;
}

/*#unified-extensions-button,*/
/*#back-button,*/
/*#forward-button,*/
#identity-box,
/*#page-action-buttons,*/
#firefox-view-button,
#alltabs-button {
	display: none !important;
}

#urlbar[breakout][breakout-extend] #page-action-buttons {
	display: -moz-box !important;
}

.urlbar-input-box {
	padding-left: 5px;
}
.urlbar-input-box:focus {
	padding-left: 5px;
        z-index: 2;
}

#urlbar {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

#urlbar[focused] {
	background: var(--gnome-headerbar-background) !important;
        z-index: 2;
	min-width: 50vw !important;
}

#urlbar[breakout][breakout-extend] {
	width: 500px !important;
	min-width: 50vw !important;
	max-width: 100vw !important;
}

#nav-bar-overflow-button {
	padding: 0 !important;
	z-index: 9;
}

#tabbrowser-tabs {
	border-inline-start: none !important;
}

/* Further opinionated customizations */
/**************************************/

/* Increase tab border radius */
.tab-background {
	--tab-border-radius: 0px !important;
}

/* no border or background in urlbar… */
#urlbar-background {
	background-color: transparent !important;
	border: none !important;
	/* Match tabs border radius */
	--toolbarbutton-border-radius: 0px !important;
}

/* …but not when it is open */
#urlbar[breakout][breakout-extend] #urlbar-background {
	background-color: Field !important;
	/* nicer border-radius */
	border-radius: 0px 0 0px 0 !important;
}
