@import "colors/colors.css";

/* Empty tab background */
@-moz-document url("about:home"),url("about:blank"),url("about:newtab"),url("about:privatebrowsing") {
    body {
        background-color: var(--bg0) !important;
    }
}

/* Reader view styling */
@-moz-document url-prefix("about:reader") {
    body.dark {
        background-color: var(--bg0) !important;
        color: var(--fg) !important;
    }
    body.light {
        background-color: var(--fg) !important;
        color: var(--bg0) !important;
    }
    body.sepia {
        color: #5B4636 !important;
        background-color: #F4ECD8 !important;
    }
    body.serif {
        font-family: serif !important;
    }
    body.sans-serif {
        font-family: sans-serif !important;
    }
    a {
        color: #6a8c64!important;
        text-decoration: none !important;
    }
}
